<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="progweb-t3">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="javax.servlet.jsp.jstl-api-1.2.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/progweb-t3/WebContent/WEB-INF/lib/jstl/javax.servlet.jsp.jstl-api-1.2.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javax.servlet.jsp.jstl-1.2.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/progweb-t3/WebContent/WEB-INF/lib/jstl/javax.servlet.jsp.jstl-1.2.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/progweb-t3/build/classes"/>
        <property name="context-root" value="trab3"/>
    </wb-module>
</project-modules>
